A continuacion encontraremos como calcular la temperatura de cada ciudad, la temperatura mas alta y la mas baja y la ciudad a la que corresponde, cuantos registros tienen una temperatura mayor a 30 y cuantos registros se tienen por ciudad.

In [ ]:
#Ejercicio2 Analisis del clima

import pandas as pd
import numpy as np

#1.Cargue el dataset y conviértelo en un DataFrame.
df = pd.read_csv('./clima.csv')

In [ ]:
df.head()

        Fecha            Ciudad  Temperatura
0  2023-01-01            Bogotá        25.84
1  2023-01-02          Santiago        14.75
2  2023-01-03            Madrid        15.91
3  2023-01-04            Madrid        12.10
4  2023-01-05  Ciudad de México        -3.98

In [ ]:
#2.Calcular la temperatura promedio de cada ciudad
temperatura_promedio = df.groupby('Ciudad')['Temperatura'].mean().reset_index()
temperatura_promedio.columns = ['Ciudad', 'temperatura_promedio']

print(temperatura_promedio)

             Ciudad  temperatura_promedio
0            Bogotá             14.650794
1      Buenos Aires             15.226571
2  Ciudad de México             17.250833
3            Madrid             13.870000
4          Santiago             13.993718

In [ ]:
#3.Temepratura mas alta y baja

registro_max_temp = df.loc[df['Temperatura'].idxmax()]
registro_min_temp = df.loc[df['Temperatura'].idxmin()]

print("Registro con la temperatura más alta:")
print(registro_max_temp)

print("\nRegistro con la temperatura más baja:")
print(registro_min_temp)

Registro con la temperatura más alta:
Fecha          2023-10-24
Ciudad             Madrid
Temperatura         34.62
Name: 296, dtype: object

Registro con la temperatura más baja:
Fecha          2023-04-25
Ciudad             Madrid
Temperatura          -4.8
Name: 114, dtype: object

In [ ]:
#4.Ciudad con temperatura mas alta y mas baja

temperatura_maxima = df['Temperatura'].max()
ciudad_maxima = df.loc[df['Temperatura'] == temperatura_maxima, 'Ciudad'].values[0]

temperatura_minima = df['Temperatura'].min()
ciudad_minima = df.loc[df['Temperatura'] == temperatura_minima, 'Ciudad'].values[0]

print("La ciudad con la temperatura más alta es ", ciudad_maxima, "con", temperatura_maxima, "grados.")
print("La ciudad con la temperatura más baja es ", ciudad_minima, "con", temperatura_minima, "grados.")

La ciudad con la temperatura más alta es  Madrid con 34.62 grados.
La ciudad con la temperatura más baja es  Madrid con -4.8 grados.

In [ ]:
#5.Cantidad de registros con una temperatura mayor a 30 grados.

registros_mayor_30 = df[df['Temperatura'] > 30]
numero_registros_mayor_30 = len(registros_mayor_30)

print("Registos con una temperatura mayor a 30 es:\n ", numero_registros_mayor_30)

Registos con una temperatura mayor a 30 es:
  50

In [ ]:
#6.Dias registrados por ciudad

dias_por_ciudad = df['Ciudad'].value_counts().reset_index()
dias_por_ciudad.columns = ['Ciudad', 'Numero de dias']

print(dias_por_ciudad)

             Ciudad  Numero de dias
0            Madrid              82
1          Santiago              78
2  Ciudad de México              72
3      Buenos Aires              70
4            Bogotá              63